nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #A11E77;
}

li {
  list-style-type: none;
}

menu {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

nav>figure {
  width: 70px;
}